<div class="share">
	{% if site.addthis_button %}
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a>
		<a class="addthis_button_sinaweibo"></a>
		<a class="addthis_button_google_plusone_share"></a>
		<a class="addthis_button_douban"></a>
		<a class="addthis_button_pocket"></a>
		<a class="addthis_button_evernote"></a>
		<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51f7c4ca2bdc7dc5"></script>
	<!-- AddThis Button END -->
	{% endif %}
	
	{% if site.baidu_button %}
	<!-- Baidu Button BEGIN -->
	<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
		<a class="bds_tsina"></a>
		<a class="bds_qzone"></a>
		<a class="bds_tqq"></a>
		<a class="bds_renren"></a>
		<a class="bds_t163"></a>
		<a class="bds_douban"></a>
		<a class="bds_twi"></a>
		<a class="bds_fbook"></a>
		<a class="bds_copy"></a>
		<span class="bds_more"></span>
		<a class="shareCount"></a>
		</div>
		<script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=2547155" ></script>
		<script type="text/javascript" id="bdshell_js"></script>
		<script type="text/javascript">
			document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
		</script>
	<!-- Baidu Button END -->
	{% endif %}
</div>
